{
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": true
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "next/babel"
  ]
}
