{
  "plugins": [
    [
      "styled-jsx/babel",
      {
        "optimizeForSpeed": true
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-modules-commonjs"
  ],
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "next/babel"
  ]
}
